[user]
    email = davidrbacelar@gmail.com
    name = David Rodriguez
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[push]
	autoSetupRemote = true
[diff]
	tool = difftastic
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[difftool]
	prompt = false
[pager]
	difftool = true
[alias]
	d = -c diff.external=difft diff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
